.edit_toggle {
    position: absolute;
    top: 75px;
    right: 25px;
}

.edit_toggle svg {
    color: #aaaaaa;
}

.tool { width: 100%; }
.left { padding-right: 0;}
.right { padding-left: 0;}

.add {
    background-color: green;
    color: white;
}