{% extends 'base.html' %}
{% load i18n static bootstrap4 mailuser_tags %}

{% block bootstrap4_extra_head %}
{{ block.super }}
{{ form.media }}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/responsive/2.2.2/css/responsive.bootstrap4.min.css"/>
{#<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css"/>#}
<script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/responsive/2.2.2/js/dataTables.responsive.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/responsive/2.2.2/js/responsive.bootstrap4.min.js"></script>
<script src="{% static 'js/tablesize.js' %}"></script>
<script>

var frame_height = 380;

$(document).ready( function () {
    $('#accounts').DataTable({
        language: {
            url: '{% static "datatables/de_DE.json" %}'
        },
        scrollY:        tableHeight,
        scrollCollapse: true,
        paging:         false,
        order: [[ 1, 'asc' ]],
        responsive: true,
        columns: [
            { responsivePriority: 2, targets: 0 },
            { responsivePriority: 1, targets: 1 },
            { responsivePriority: 4, targets: 2 },
            { orderable: false, responsivePriority: 5, targets: 3 },
            { orderable: false, responsivePriority: 3, targets: 4 }
          ]
    });
} );

</script>
{% endblock %}

{% block title %}{% trans 'accounts for ' %}{{ tenant.domain }}{% endblock %}

{% block content %}
<form method="get" role="form" action="{% url 'tenantlist' %}">
{% csrf_token %}
    <div class="row">
        <div class="col-12">
            <div class="panel">
                <h4>{% trans 'account' %}</h4>
                <table id="accounts" class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>{% trans 'account type' %}</th>
                            <th>{% trans 'account user' %}</th>
                            <th>{% trans 'name' %}</th>
                            <th>{% trans 'redirected to' %}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for account in accountlist %}
                        <tr>
                            <td data-order="{{ account.type }}">
                                {% if account.type == '1' %}
                                    <i class="far fa-at" title="{% trans 'account' %}"></i>
                                {% else %}
                                    <i class="far fa-reply" title="{% trans 'redirection' %}"></i>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'accountdisplay' account.id%}">
                                    {{ account.username }}
                                </a>
                            </td>
                            <td>{{ account.full_name|default_if_none:'-' }}</td>
                            <td>
                                {% for redirection in account.redirection_set.all %}
                                    {{ redirection }}<br/>
                                {% endfor %}
                            </td>
                            <td class="td-buttons">
                                {% if account.type == '1' %}
                                <a class="btn btn-sm btn-info{% f_exists account.id %}" href="{% url 'get_account_credentials' account.id %}"
                                    role="button" title="{% trans 'load credentials pdf' %}">
                                    <i class="far fa-file-pdf"></i>
                                </a>
                                {% endif %}
                                <a class="btn btn-sm btn-secondary" href="{% url 'accountedit' tenant.id account.id %}" role="button"
                                    title="{% trans 'account edit' %}">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a class="btn btn-sm btn-danger" href="{% url 'accountdelete' account.id %}" role="button"
                                    title="{% trans 'account delete' %}">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="panel">
                <button class="btn btn-primary" name="back" title="{% trans 'back' %}">
                    <i class="far fa-check"></i>
                </button>
                <a class="btn btn-success" href="{% url 'accountnew' tenant.id %}" role="button"
                    title="{% trans 'new account' %}">
                    <i class="far fa-plus"></i>
                </a>
                <a class="btn btn-info" href="{% url 'refreshcredentials' tenant.id %}" role="button"
                    title="{% trans 'refresh credentials for all accounts' %}">
                    <i class="far fa-sync"></i>
                    <i class="far fa-file-pdf"></i>
                </a>
            </div>
        </div>
    </div>
</form>
{% endblock %}
