{% extends 'base.html' %}
{% load i18n static bootstrap4 %}

{% block title %}{% trans 'account delete' %}{% endblock %}

{% block content %}

<form action="" method="post" class="form-inline">
{% csrf_token %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-6 offset-3 text-center">
                <h4 style="color: red;">{% trans 'Delete' %} {{ account.username }}?</h4>
                <p>
                    {% trans 'Do you really want to delete this account?' %}
                </p>
                {% if account.alias_set.all.count > 0 %}
                <p>
                    <i class="far fa-exclamation-triangle"></i>
                    {% trans 'This will also delete the following aliases connected to this account:' %}
                    {% for alias in account.alias_set.all %}
                        {{ alias }}<br/>
                    {% endfor %}
                </p>
                {% endif %}
            </div>
        </div>

        {% buttons %}

        <button type="submit" class="btn btn-danger" name="delete" title="{% trans 'Delete' %}">
            <i class="far fa-check"></i>
        </button>
        <button type="submit" class="btn btn-default" name="cancel" title="{% trans 'Cancel' %}">
            <i class="far fa-times"></i>
        </button>
        {% endbuttons %}
    </div>

</form>
{% endblock %}
