{% extends 'admin/change_form.html' %}
{% load i18n static %}

{% block javascripts %}
{{ block.super }}
<script src="{% static 'js/normalize.js' %}"></script>
<script src="{% static 'js/generate.js' %}"></script>
<script type="text/javascript">
(function($) {
    $(document).ready(function() {
        $('#_gen_username').on('click', function(event) {
            var tenant_id = $('#id_tenant>option:selected').val();
            gen_username(tenant_id);
        });

        $('#_gen_password').on('click', function(event) {
            gen_password();
        });
    });
})(django.jQuery);
</script>
{% endblock %}

{% block submit_buttons_bottom %}
    <div class="submit-row">
        <input id="_gen_username" type="button" value="{% trans 'generate username' %}" name="_gen_username">
        <input id="_gen_password" type="button" value="{% trans 'generate password' %}" name="_gen_password">
    </div>
    {{ block.super }}
{% endblock %}