{% extends 'base.html' %}
{% load i18n static bootstrap4 fb_versions %}

{% block title %}{% trans 'mail tenants' %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-md-center">
        {% for tenant in  tenantlist %}
            <div class="col col-md-3 text-center">
                <a href="{% url 'accountlist' tenant.id %}">
                    <img src="{% version tenant.logo 'medium' %}" alt="">
                </a>
                <h4>{{ tenant.name }}</h4>
                <p>(@{{ tenant.domain }})</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
