{% extends 'base.html' %}
{% load i18n static bootstrap4 fb_versions %}

{% block bootstrap4_extra_head %}
{{ block.super }}
<style>
.tool { width: 100%; }
.left { padding-right: 0;}
.right { padding-left: 0;}
.add {
    background-color: green;
    color: white;
}
</style>
{% endblock %}

{% block title %}
    {% trans 'mail tenants' %}
    <span class="badge badge-secondary">{{ tenant_list.count }}</span>
    {% if edit == '1' %}
    <a  href="{% url 'tenantadd' %}" class="link">
        <span class="badge add">
            <i class="far fa-plus"></i>
        </span>
    </a>
    <a href="{% url 'tenantlist' %}?edit=0"><i class="fal fa-xs fa-times-square"></i></a>
    {% else %}
    <a href="{% url 'tenantlist' %}?edit=1"><i class="fal fa-xs fa-pen-square"></i></a>
    {% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card-deck justify-content-center">
            {% for tenant in  tenant_list %}
                <div class="card bg-light">
                    {% if edit == '1' %}
                    <div class="row">
                        <div class="col-6 left">
                            <a class="btn btn-secondary tool" href="{% url 'tenantedit' tenant.id %}">
                                <i class="far fa-edit"></i>
                            </a>
                        </div>
                        <div class="col-6 right">
                            <a class="btn btn-danger tool" href="{% url 'tenantdelete' tenant.id %}">
                                <i class="far fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    <img class="card-img-top" src="{% version tenant.logo 'medium' %}" alt="">
                    <div class="card-body text-center bg-white">
                        <a href="{% url 'accountlist' tenant.id %}">
                            <h5>{{ tenant.name }}</h5>
                            <p>(@{{ tenant.domain }})</p>
                        </a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
