asn1crypto==0.24.0
astroid==2.2.5
Babel==2.7.0
cffi==1.12.3
cryptography==2.7
Django==2.2.3
django-bootstrap4==0.0.8
django-filebrowser==3.11.1
django-formtools==2.1
django-grappelli==2.13.1
django-otp==0.6.0
django-phonenumber-field==3.0.1
django-two-factor-auth==1.9.1
isort==4.3.21
lazy-object-proxy==1.4.1
LEPL==5.1.3
mccabe==0.6.1
phonenumberslite==8.10.15
Pillow==6.1.0
pycparser==2.19
pylint==2.3.1
pytz==2019.1
qrcode==6.1
reportlab==3.5.23
rfc6266==0.0.4
six==1.12.0
sqlparse==0.3.0
typed-ast==1.4.0
Unidecode==1.1.1
wrapt==1.11.2
