cryptography==41.0.1
Django==4.2.2
django-bootstrap5==23.3
django-filebrowser-no-grappelli==4.0.1
# django-two-factor-auth depends on
# django-two-factor-auth 1.14 depends on
# django-phonenumber-field < 7.0.0
django-phonenumber-field==6.4.0
django-select2==8.1.2
django-two-factor-auth==1.15.2
reportlab==4.0.4
phonenumbers==8.13.13