cryptography==39.0.1
Django==4.1.7
django-bootstrap5==22.2
django-filebrowser-no-grappelli==4.0.1
django-phonenumber-field==7.0.2
django-select2==8.1.0
django-two-factor-auth==1.15.0
reportlab==3.6.12
phonenumbers==8.13.6