#container {
    padding-top: 50px;
}

.dropdown-menu.right { right: 0; left: auto; }

.panel {
    width: 100%;
    margin-bottom: 20px;
    /* border: 1px solid lightgray; */
}

.table td, .table th {
    padding: .5rem;
    vertical-align: middle;
}

.td-buttons {
    text-align: right;
    white-space: nowrap;
}

.table-responsive-sm {
    overflow: auto;
}

.form-group.required .control-label {
    font-weight: bold;
}

.card {
    width: 300px;
    margin-bottom: 20px !important;
}