{% extends 'base.html' %}
{% load i18n static django_bootstrap5 account_tags %}

{% block bootstrap5_extra_head %}
{{ block.super }}
{{ form.media.css }}
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
{% endblock %}

{% block bootstrap5_extra_script %}
{{ block.super }}
{{ form.media.js }}
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table-locale-all.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/mobile/bootstrap-table-mobile.min.js"></script>
{% endblock %}

{% block title %}
    {% trans 'accounts for ' %}{{ tenant.domain }}
    <span class="badge badge-secondary">{{ accountlist.count }}</span>
{% endblock %}

{% block content %}
<form method="get" role="form" action="{% url 'tenantlist' %}">
{% csrf_token %}
    <div class="row">
        <div class="col-12">
            <div class="panel">
                <table id="wertelist" data-toggle="table" data-classes="table table-striped table-bordered"
                       data-locale="de-DE" data-search="true" data-mobile-responsive="true" data-min-width="768"
                       data-sortable="true">
                    <thead>
                        <tr>
                            <th>{% trans 'account type' %}</th>
                            <th data-sortable="true">{% trans 'account user' %}</th>
                            <th data-sortable="true">{% trans 'name' %}</th>
                            <th>{% trans 'redirected to' %}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for account in accountlist %}
                        <tr>
                            <td data-order="{{ account.type }}">
                                {% if account.type == '1' %}
                                    <i class="far fa-user" title="{% trans 'account' %}"></i>
                                {% else %}
                                    <i class="far fa-user-friends" title="{% trans 'alias' %}"></i>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'accountdisplay' account.id%}">
                                    {{ account.username }}
                                </a>
                            </td>
                            <td>{{ account.full_name|default_if_none:'-' }}</td>
                            <td>
                                {% for redirection in account.redirection_set.all|slice:":5" %}
                                    {{ redirection }}<br/>
                                {% endfor %}
                                {% if account.redirection_set.all.count > 5 %}
                                    <i class="far fa-ellipsis-h"></i>
                                    <small>(Gesamt {{ account.redirection_set.all.count }})</small>
                                {% endif %}
                            </td>
                            <td class="td-buttons">
                                {% if account.type == '1' %}
                                <a class="btn btn-sm btn-info{% f_exists account.id %}" href="{% url 'get_account_credentials' account.id %}"
                                    role="button" title="{% trans 'load credentials pdf' %}">
                                    <i class="far fa-file-pdf"></i>
                                </a>
                                {% endif %}
                                <a class="btn btn-sm btn-secondary" href="{% url 'accountedit' tenant.id account.id %}" role="button"
                                    title="{% trans 'account edit' %}">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a class="btn btn-sm btn-danger" href="{% url 'accountdelete' account.id %}" role="button"
                                    title="{% trans 'account delete' %}">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="panel">
                <button class="btn btn-primary" name="back" title="{% trans 'back' %}">
                    <i class="far fa-check"></i>
                </button>
                <a class="btn btn-success" href="{% url 'accountnew' tenant.id %}" role="button"
                    title="{% trans 'new account' %}">
                    <i class="far fa-plus"></i>
                </a>
                <a class="btn btn-info" href="{% url 'refreshcredentials' tenant.id %}" role="button"
                    title="{% trans 'refresh credentials for all accounts' %}">
                    <i class="far fa-sync"></i>
                    <i class="far fa-file-pdf"></i>
                </a>
            </div>
        </div>
    </div>
</form>
{% endblock %}
