{% extends 'base.html' %}
{% load i18n static django_bootstrap5 account_tags %}

{% block bootstrap5_extra_head %}
{{ block.super }}
{{ form.media.css }}
{% endblock %}

{% block bootstrap5_extra_script %}
{{ block.super }}
{{ form.media.js }}
{% endblock %}

{% block title %}
    {% trans 'accounts for ' %}{{ tenant.domain }}
    <span class="badge text-bg-secondary">{{ account_list.count }}</span>
{% endblock %}

{% block content %}

<div class="row mb-3">
    <div class="col-12 col-md-6">
        <form action="" method="get" id="filterForm" class="form-horizontal">
            {% csrf_token %}
            {% bootstrap_form filter.form size='sm' %}
            <button class="btn btn-sm btn-primary" type="submit" title="{% trans 'Filter' %}">
                <i class="fas fa-filter"></i>
            </button>
            <a class="btn btn-sm btn-secondary" href="{% url 'accountlist' tenant.id %}" role="button"
                title="{% trans 'Clear filter' %}">
                <i class="far fa-times"></i>
            </a>
        </form>
    </div>
    <div class="col-12 col-md-6 text-end">
        <a class="btn btn-primary" href="{% url 'tenantlist' %}" title="{% trans 'back' %}">
            <i class="far fa-check"></i>
        </a>
        <a class="btn btn-success" href="{% url 'accountnew' tenant.id %}" role="button"
            title="{% trans 'new account' %}">
            <i class="far fa-plus"></i>
        </a>
        <a class="btn btn-info" href="{% url 'refreshcredentials' tenant.id %}" role="button"
            title="{% trans 'refresh credentials for all accounts' %}">
            <i class="far fa-sync"></i>
            <i class="far fa-file-pdf"></i>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="panel">
            <table class="table table-striped tbl-responsive">
                <thead>
                    <tr>
                        <th>{% trans 'account type' %}</th>
                        <th>{% trans 'account user' %}</th>
                        <th>{% trans 'name' %}</th>
                        <th>{% trans 'redirected to' %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for account in account_list %}
                    <tr>
                        <td>
                            {% if account.type == '1' %}
                                <i class="far fa-user" title="{% trans 'account' %}"></i>
                            {% else %}
                                <i class="far fa-user-friends" title="{% trans 'alias' %}"></i>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'accountdisplay' account.id%}">
                                {{ account.username }}
                            </a>
                        </td>
                        <td>{{ account.full_name|default_if_none:'-' }}</td>
                        <td>
                            {% for redirection in account.redirection_set.all|slice:":5" %}
                                {{ redirection }}<br/>
                            {% endfor %}
                            {% if account.redirection_set.all.count > 5 %}
                                <i class="far fa-ellipsis-h"></i>
                                <small>(Gesamt {{ account.redirection_set.all.count }})</small>
                            {% endif %}
                        </td>
                        <td class="td-buttons">
                            {% if account.type == '1' %}
                            <a class="btn btn-sm btn-info{% f_exists account.id %}" href="{% url 'get_account_credentials' account.id %}"
                                role="button" title="{% trans 'load credentials pdf' %}">
                                <i class="far fa-file-pdf"></i>
                            </a>
                            {% endif %}
                            <a class="btn btn-sm btn-secondary" href="{% url 'accountedit' tenant.id account.id %}" role="button"
                                title="{% trans 'account edit' %}">
                                <i class="far fa-edit"></i>
                            </a>
                            <a class="btn btn-sm btn-danger" href="{% url 'accountdelete' account.id %}" role="button"
                                title="{% trans 'account delete' %}">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
