{% extends 'base.html' %}
{% load i18n static django_bootstrap5 %}

{% block title %}{% trans 'account delete' %}{% endblock %}

{% block content %}
<form action="" method="post">
{% csrf_token %}

    <div class="row">
        <div class="col-md-6 offset-md-3 col-sm-12 text-center">
            <div class="panel">
                <h4 style="color: red;">
                    {% trans 'Delete' %}
                    {% if account.type == 'mail' %}{{ account.username }}{% else %}{{ account.name }}{% endif %}?
                </h4>
                <p>
                    {% trans 'Do you really want to delete this account?' %}
                </p>
                {% if account.alias_set.all.count > 0 %}
                <p>
                    <i class="far fa-exclamation-triangle"></i>
                    {% trans 'This will also delete the following aliases connected to this account:' %}
                    {% for alias in account.alias_set.all %}
                        {{ alias }}<br/>
                    {% endfor %}
                </p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3 col-sm-12">
            <div class="panel">
                <button type="submit" class="btn btn-danger" name="delete" title="{% trans 'Delete' %}">
                    <i class="far fa-check"></i>
                </button>
                <button type="submit" class="btn btn-secondary" name="cancel" title="{% trans 'Cancel' %}">
                    <i class="far fa-times"></i>
                </button>
            </div>
        </div>
    </div>

</form>
{% endblock %}
