{% extends 'base.html' %}
{% load i18n static django_bootstrap5 %}

{% block bootstrap5_extra_head %}
{{ block.super }}
{{ form.media }}
{% endblock %}

{% block title %}{% trans 'redirection edit' %}{% endblock %}

{% block content %}

<form id="rule_form" method="post" class="from-horizontal" role="form" action="">
    {% csrf_token %}

    <div class="row">
        <div class="col-6 offset-3">
            <div class="panel">
                {% bootstrap_form form layout='floating' %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="panel">
                <button class="btn btn-primary" name="submit" type="submit" formnovalidate title="{% trans 'Ok' %}">
                    <i class="far fa-check"></i>
                </button>
                <button class="btn btn-secondary" type="submit" name="cancel" formnovalidate title="{% trans 'Cancel' %}">
                    <i class="far fa-times"></i>
                </button>
            </div>
        </div>
    </div>

</form>
{% endblock %}
