{% extends 'base.html' %}
{% load i18n static django_bootstrap5 %}

{% block title %}{% trans 'redirection delete' %}{% endblock %}

{% block content %}
<form action="" method="post">
{% csrf_token %}

    <div class="row">
        <div class="col-md-6 offset-md-3 col-sm-12 text-center">
            <div class="panel">
                <h4 style="color: red;">{% trans 'Delete' %} {{ redirection.email }}?</h4>
                <p>
                    {% trans 'Do you really want to delete this Redirection?' %}
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="panel">
                <button type="submit" class="btn btn-danger" name="delete" title="{% trans 'Delete' %}">
                    <i class="far fa-trash-alt"></i>
                </button>
                <button type="submit" class="btn btn-secondary" name="cancel" title="{% trans 'Cancel' %}">
                    <i class="far fa-times"></i>
                </button>
            </div>
        </div>
    </div>

</form>
{% endblock %}
