{% extends 'base.html' %}
{% load i18n static django_bootstrap5 fb_versions %}

{% block bootstrap5_extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/tenant_list.css' %}">
{% endblock %}

{% block title %}
    {% trans 'mail tenants' %}
    <span class="badge badge-secondary">{{ tenant_list.count }}</span>
    {% if edit == '1' %}
    <a  href="{% url 'tenantadd' %}" class="link">
        <span class="badge add">
            <i class="far fa-plus"></i>
        </span>
    </a>
    <a class="edit_toggle" href="{% url 'tenantlist' %}?edit=0">
        <i class="fal fa-xs fa-times-square"></i>
    </a>
    {% else %}
    <a class="edit_toggle" href="{% url 'tenantlist' %}?edit=1">
        <i class="fal fa-xs fa-pen-square"></i>
    </a>
    {% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    {% regroup tenant_list by type as tenant_type_list %}
    {% for tenant_type in tenant_type_list  %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4">
        {% for tenant in tenant_type.list %}
            <div class="col">
                <div class="card bg-body">
                    {% if edit == '1' %}
                    <div class="row">
                        <div class="col-6 left">
                            <a class="btn btn-secondary tool" href="{% url 'tenantedit' tenant.id %}">
                                <i class="far fa-edit"></i>
                            </a>
                        </div>
                        <div class="col-6 right">
                            <a class="btn btn-danger tool" href="{% url 'tenantdelete' tenant.id %}">
                                <i class="far fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    {% if tenant.type == 'mail' %}
                    <a href="{% url 'accountlist' tenant.id %}">
                    {% else %}
                    <a href="{% url 'pwdlist' tenant.id %}">
                    {% endif %}
                    <img class="card-img-top" src="{% version tenant.logo 'medium' %}" alt="">
                        <div class="card-body text-center">
                            <h5>{{ tenant.name }}</h5>
                            {% if tenant.type == 'mail' %}
                            <p>(@{{ tenant.domain }})</p>
                            {% endif %}
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <br/>
    {% endfor %}
</div>
{% endblock %}
