{% extends 'base.html' %}
{% load i18n static django_bootstrap5 %}

{% block bootstrap5_extra_head %}
{{ block.super }}
{{ form.media.css }}
{% endblock %}

{% block bootstrap5_extra_script %}
{{ block.super }}
{{ form.media.js }}
</script>

{% endblock %}

{% block title %}
    {% if object %}
        {% trans 'Edit tenant' %}
    {% else %}
        {% trans 'Create tenant' %}
    {% endif %}
{% endblock %}

{% block content %}

<form id="tenant_form" method="post" class="from-horizontal" role="form" action="">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-12 col-sm-12">
            {% bootstrap_field form.type layout='floating' %}
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            {% bootstrap_field form.name layout='floating' %}
            {% bootstrap_field form.domain layout='floating' %}
            {% bootstrap_field form.weburl layout='floating' %}
        </div>
        <div class="col-md-6 col-sm-12">
            {% bootstrap_field form.logo layout='floating' %}
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h5>{% trans 'Incoming mail server' %}</h5>
            {% bootstrap_field form.imap_url layout='floating' %}
            {% bootstrap_field form.imap_port layout='floating' %}
            {% bootstrap_field form.imap_sec layout='floating' %}
        </div>

        <div class="col-md-6 col-sm-12">
            <h5>{% trans 'Outgoing mail server' %}</h5>
            {% bootstrap_field form.smtp_url layout='floating' %}
            {% bootstrap_field form.smtp_port layout='floating' %}
            {% bootstrap_field form.smtp_sec layout='floating' %}
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-md-12">
            {% bootstrap_field form.man_url layout='floating' %}
            {% bootstrap_field form.manager %}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="panel">
                <button class="btn btn-primary" name="submit" type="submit" formnovalidate title="{% trans 'Ok' %}">
                    <i class="far fa-check"></i>
                </button>
                <button class="btn btn-secondary" type="submit" name="cancel" formnovalidate title="{% trans 'Cancel' %}">
                    <i class="far fa-times"></i>
                </button>
            </div>
        </div>
    </div>

</form>
{% endblock %}
